<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - GlobeAutoLink</title>
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav container">
            <i class='bx bx-menu' id="menu-icon"></i>
            <a href="/" class="logo">
                <div class="logo-container">
                    <img src="/img/logo.png" alt="Logo" class="site-logo">
                    <span class="logo-text">Globe<span class="auto-link">AutoLink</span></span>

                </div>
            </a>
            
            <ul class="navbar" id="navbar">
                <li><a href="/" >Home</a></li>
                <li><a href="/less3years">-3 years</a></li>
                <li><a href="/hotsales">hot sales</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login" class="active">Login/Signup</a></li>
            </ul>
            <div>
    {{!-- <button id="toggleDarkMode" class="lang" data-i18n="dark_mode"> Dark Mode </button> --}}
    <button id="toggleDarkMode" class="lang" aria-label="Toggle dark mode">
      <i class='bx bx-moon'></i>
    </button>
    </div>  
</div>          

        </div>
    </header>
    
    <div class="form-container">
        <h2>Account Login</h2>
        <form action="/auth/login" method="POST" id="login-form" class="form_box_shadow">
            <input name="email" type="email" id="login-email" placeholder="Email" required>
            <input name="password" type="password" id="login-password" placeholder="Password" required>
            <button type="submit" class="btn">Sign in</button>
            <p>Don't have an account ? <a href="/signup">Register NOW!</a></p>
        </form>
        {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
    <script src="main.js"></script>
    <script src="darkmode.js"></script>
</body>
</html>